.App {
  text-align: center;
  background-color: black;
  color: white;
}
body {
  background-color: black;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.trial {
  color: white;
  background-color: black;
  border-bottom: 1px solid lightgrey;
  margin-left:20px;
  padding: 2px;
}
.active {
  background-color: green;
}
.completed {
  background-color: blue;
}
.terminated {
  background-color: red;
}
.suspended {
  background-color: orange;
  color: black
}
.unknown {
  background-color: white;
  color: black;
}
.withdrawn {
  background-color: darkslategrey;
}
.intervention {
  font-weight: bold;
}
.sponsor {
  margin-left: 5px;
}
.interventionDiv {
  float: left;
}
.phase {
  text-align: left;
  padding-left: 10px;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  color: black;
}
.status {
  float: right;
  padding-left: 2px;
  font-size: calc(3px + vmin);
}
.title {
  clear: both;
  margin-left: 30px;
  text-align: left;
  margin-top:2px;
}

a:link {
  text-decoration: none;
  color: yellow;
}

a:visited {
  text-decoration: none;
  color: yellow;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}